body{
    background-color: #fff8ee;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #254d32;
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
}

nav a{
    color: #254d32;
    text-decoration: none;
    font-style: italic;
}

h2{
    color: #b56b5a;
    text-align: center;
    text-transform: capitalize;
}

h3{
    color: #6f8f72;
    text-align: center;
    text-transform: capitalize;
}

p{
    color: #3f5143;
    line-height: 1.8;
    font-style: normal;
}

article{
    width: 900px;px ;
    height: 1100px;
}